.blogItem-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 6%;
  }
  .blogItem-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0.5rem;
  }

  .blogItem-wrap h3 {
    margin: 0.5rem 1rem 0 1rem;
    flex: 1;
  }

  .blogItem-chip{
    margin: 0.5rem 1rem 0 1rem;
  }
  
  .blogItem-desc {
    position: relative;
    max-height: 50px;
    overflow: hidden;
    padding-right: 0.6rem;
    font-size: 0.8rem;
    color: white;
    margin:0 1rem 0 1rem;
  }
  
  .blogItem-desc::before {
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
  }
  
  .blogItem-wrap footer {
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
  }
  
  .blogItem-link {
    text-decoration: none;
    outline: none;
    background-color: white;
    border-radius: 10%;
    border: none;
    padding: 1rem;
    color: inherit;
  }
  
  .blogItem-author {
    display: flex;
    align-items: center;
  }
  
  .blogItem-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;
  }
  
  .blogItem-author p {
    font-size: 0.6rem;
    color: #a9a9a9;
    font-weight: 600;
  }