
.cardproject{
    width: 370px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px hsl(210, 50%, 50%); 
    margin: 1rem;
}
.cardproject img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info{
    font-size: 1rem;
    font-weight: 700;
    align-items: start;
}

.date-info{
    display: flex;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    align-items: center;
    margin-left: 9px;
}
.date-info p{
    margin-left: 5px;
}

.layer{
    position: absolute;
    top: 0;
    align-items: center;
    transform: translateY(-400px);
    visibility: hidden;
    background-color: #080e68;
    transition: 1s;
    /* align-items: center;
    justify-content: center; */
    color: #ffffff;
    cursor: pointer;
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
}
.cardproject:hover .layer{
    visibility: visible;
    transform: translateY(0);
    top: 0;

}
.layer h2{
    width: 370px;
    text-align: center;
    font-size: 2.2rem;
    display: block;
    margin-top: 0.5rem;
    font-weight: 900;
}
.layer p{
    width: 350px;
font-size: 1.2rem;
margin-top: 0.5rem;
font-weight: 700;
}
.layer button{
    width:150px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin-top: 2rem;
    border:none;
    margin-left: 70px;
}
@media(max-width:768px)
{
    .cardproject{
        width: 350px;
        height: 400px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 5rem;
    }
}