@import url('https://fonts.googleapis.com/css2?family=Cursive+Font&display=swap');
@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  /* Define custom font palette values */
  @font-palette-values {
    --Grays: 20;
  }
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
.project-container{
    display: flex;
    flex-wrap: wrap;
    width:auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.skill-head{
    
    margin-top: 3rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Rocher', sans-serif;
    font-palette: --Mint;
    color: #000;
    font-weight: 700;
}

.skill-subhead {
    font-size: 1.5rem;
    font-family: 'Rocher', sans-serif;
    font-palette: --purples;
    color: #000;
    font-weight: 700;
    margin-top: 1rem;
}