.footer-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .footer-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #00FF00;
  }
  
  .footer-link:hover::after {
    width: 100%;
    background-color: #00FF00;
  }

#title{
  margin-left: -120px;
  @media (min-width: 786px) and (max-width: 905px) {

    margin-left: 0;
  }
  @media (width: 319px) {
    margin-left: 0;
  }
  @media (max-width: 319px) {
    margin-left: 0;
  }
}

@media (min-width:769px) {
  .email-us{
    display: block;
    position: absolute;
    left:5rem;
    top: 10rem;
  }
}


@media (max-width:769px) {
  .email-us{
    display: block;
    position: absolute;
    left:5rem;
    top: 2rem;
  }
}
  
  
  .footer {
    background-color: #000;
    background-color: var(--footer-color);
    padding: 2rem 0;
    text-align: center;
  }
  .container input {
    width: auto;
  }
  

  @media (min-width: 786px) and (max-width: 905px) {
    .container {
      width: 90% !important;
    }
    
  }
