#tgl{    
    margin-right: 5rem;
    width:2.5rem;
    padding:0rem;
    border: none;
    height:2rem;
    right:2rem;
    top:8rem;
    margin-top:3rem;
    position:absolute;
    background-size: cover;
    padding: 0rem;
    margin:0rem;
    border:none;
}
#tgl:hover{
    cursor:pointer;
}

@media (max-width: 700px) {
   
#tgl{
    right:1rem;
}
}

@media(max-width: 424px){
    #tgl{
        top:11.7rem;
        left: 43%;
    }
}
